.formContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCard {
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.formHeader {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.inputGroup {
    margin-bottom: 2rem;
}

.inputGroup > label {
    display: block;
    margin: 0.5rem 0;
}

.inputGroup > input {
    padding: 0.5rem;
    width: 15rem;
    border: 1px solid #CCCCCC;
    border-radius: 0.6rem;
}

.inputGroup > input[type="email"], input[type="text"] {
    font-weight: 300;
}

.formButtonGroup {
    display: flex;
    justify-content: center;
}

.formButtonGroup > .formBtn {
    width: 100%;
    margin-top: 2rem;
    padding: 0.7rem 0;
    border: none;
    background-color: #F2CB05;
    color: white;
    border-radius: 0.6rem;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
}

.formBtn:hover {
    background-color: #dab500;
}