.container {
    display: flex;
    justify-content: center;
}

.productContainer {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}